<h2 id="myaccount">Личный кабинет</h2>
<div ng-if="vm.registeredUser" class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <span id="user-name">{{vm.user.name | uppercase }}</span>
        </h4>
        <p class="list-group-item-text">
            E-Mail: <span id="user-email">{{ vm.user.email }}</span>, телефон: <span id="user-phone">{{ vm.user.phone }}</span>
        </p>
    </div>
</div>
<div ng-if="!vm.registeredUser">
    <form name="vm.userForm" novalidate>
        <div class="form-group">
            <label>Имя</label>
            <input class="form-control" data-ng-model="vm.user.name" type="text" placeholder="Имя" required ng-minlength="3" name="userName" id="userName">
        </div>

        <div ng-messages="vm.userForm.userName.$error" ng-if="vm.userForm.userName.$dirty">
            <div ng-message="required" class="alert alert-danger" role="alert">А где имя?</div>
            <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>
        </div>

        <div class="form-group">
            <label>E-Mail</label>
            <input class="form-control" data-ng-model="vm.user.email" type="text" placeholder="E-Mail" required ng-minlength="5" data-ng-pattern="/^[A-Za-z0-9_\.]+@[A-Za-z0-9_]+\.[A-Za-z]/" name="userEmail" id="userEmail">
        </div>

        <div role="alert" ng-messages="vm.userForm.userEmail.$error" ng-if="vm.userForm.userEmail.$dirty">
            <div ng-message="required" class="alert alert-danger" role="alert">А где E-Mail?</div>
            <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на E-Mail</div>
        </div>

        <div class="form-group">
            <label>Телефон</label>
            <input class="form-control" data-ng-model="vm.user.phone" type="text" placeholder="Phone" ng-minlength="11" data-ng-pattern="/^[8|\+7]\d{10}/" name="userPhone" id="userPhone">
        </div>

        <div role="alert" ng-messages="vm.userForm.userPhone.$error" ng-if="vm.userForm.userPhone.$dirty">
            <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на номер телефона</div>
        </div>

        <button type="submit" class="btn btn-default" data-ng-click="vm.register(vm.user)" data-ng-disabled="vm.userForm.$invalid">Регистрация</button>
    </form>
</div>